* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-header:hsl(202, 62%, 63%);
  --color-legend: hsl(260, 9%, 32%);
  --color-legend2:hsla(264, 4%, 50%, 0.256);
  --color-body: hwb(0 100% 0%); 
  --color-form:hsl(202, 65%, 91%);

  --color-span:hsl(203, 73%, 24%);
  --color-label: hsl(203, 93%, 22%);
  --color-buttom: hsl(348, 100%, 66%);
  --color-buttom2: hsl(348, 93%, 58%);
  --input-border: hsl(240, 25%, 92%);
  --background-input: hsl(240, 25%, 98%);

  font-size: 62.5%;
  --font-one: 'Raleway', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.page {
  max-width: 64.5rem; 
  margin: 0 auto;
}


header h1 {

  font-size: 2.9rem;
  color: var(--color-body);
  font-family: var(--font-one);
 
}

header {
  max-width: 64.5rem; 
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 5rem 6rem 2rem 6rem;
 
} 


body {
  font-family: var(--font-one);
  background-color: var(--color-body);

}

body::before {
  content: '';
  width: 100%;
  background: var(--color-header);
  height: 30.1rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


form {
  max-width: 79.5rem; 
  background-color:var(--color-form);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6.4rem;
  border-radius: 8px 8px 0 0;
  min-height: 300px;
}

fieldset {
  border: none;
  margin-bottom: 3rem;
}


legend {
  padding-bottom: 1.8rem;
  color: var(--color-legend);
  font-weight: 600;
  font-size: 2.1rem;
  border-bottom: 0.4px solid var(--color-legend);
  margin-bottom: 2.0rem;
}

input {
  width: 100%;
}


.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.input-wrapper label {
  font-family: var(--font-one);
  font-weight:600;
  color: var(--color-legend);
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 0.8rem;
}

.input-wrapper span {
  color: var(--color-legend2) ;
  font-size: 0.8rem;
  line-height: 2rem;
  font-family: var(--font-one);
}

.input-wrapper .span-required {
  color:  #FF1010;
  font-size: 1.rem;
  display: none;
  margin: .3rem 0 0 1.2rem;

}

.input-wrapper select,
.input-wrapper input,
.input-wrapper textarea {
  transition: .4s;
  background: var(--background-input);

  border: 1px solid var(--input-border);
  border-radius: 8px;

  height: 56px;
  padding: 0 24px;

  font-size: 14px;
  line-height: 26px;
 
  color: var(--color-label);

  font-family: var(--font-one);
}

select {

  transition: color 0s 2147483647s;
}

select:hover,
input:focus,
select:focus,
select:active,
select:focus {
  border-color: var(--color-legend);
  color: var(--color-legend);
  transition:0s;
}

select option {
  color: var(--color-legend);

/* option[value=""][disabled] 
  display: none; */

}

footer {
  height: 13.6rem;

  background: var(--color-header);

  display: flex;
  flex-direction: column;

  padding: 4rem 6.4rem;

  margin-bottom: 10rem;

  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 8px 8px;
}
footer .button {
  height: 5.6rem;
  background: var(--color-buttom);
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.6rem;
  font-family: var(--font-one);
  text-transform: uppercase;
}

footer .button:hover {
  background: var(--color-buttom2);
  cursor: pointer;
  transition: .3s;
}

.publi h2, h3 {
  color: var(--color-label);
  margin-bottom: 5rem;
  font-size: 2.1rem;
  text-transform: uppercase;
  
}

/* input:invalid {
  border: 1px solid #FF1010; 
}  */



 @media (min-width: 700px) {

header h1 {
  font-size: 3.1rem;
}
legend {
  
  font-weight: 600;
  font-size: 2.3rem;
  border-bottom: 0.4px solid var(--color-legend);
  margin-bottom: 2.0rem;
}

.input-wrapper label {
  font-family: var(--font-one);
  color: var(--color-legend);
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin-bottom: 0.8rem;
}

.input-wrapper span {
  color: var(--color-legend2);
  font-size: 1.rem;
  
}
.input-wrapper .span-required {
  color:  #FF1010;
  font-size: 1.2rem;
  display: none;
  margin: .3rem 0 0 1.2rem;

}
.input-wrapper select,
.input-wrapper input,
.input-wrapper textarea {

  font-size: 16px;
  line-height: 26px;

}
footer .button {

  font-size: 1.7rem;

}
.publi h2, h3 {
 
  font-size: 3.1rem;
  
  
}
  /* .page{
    width: 100%;
    display: flex;
    gap: 2.5rem;
  } 
   main{
    width: 100%;
  }
  header{ 
    /* width: 100%;
    margin: 0 auto;
  } 

   .publi {
    margin-top: 30.5rem;
  } 

   form {
    min-width: 83.5rem; 
  }
} 

form {
  width: 103.5rem; 
  background-color:var(--color-form);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6.4rem;
  border-radius: 8px 8px 0 0;
  min-height: 300px;
}
.page {
   border: 5px solid red; 
   max-width: 44.5rem; 
   margin: 0 auto;
}
footer {

  height: 14.6rem;
  width: 73.5rem; 

  background: var(--color-header);

  border-top: 1px solid #d6d6d6;
  border-radius: 0 0 8px 8px;
}
main {
   border: 5px solid pink; 
  max-width: 200rem;} */